.eggs
untitled*.py
.pytest_cache
.ipynb_checkpoints 
.spyproject
*.py[cod]
__pycache__
*.lock
*.dirlock

# sphinx
_build
doc/classes

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#Random
Backup_of_*.cdr

#Profuling
prof
