blist==1.3.6
Cython==0.25.2
filemagic==1.6
h5py==2.6.0
llvmlite==0.15.0
llvmpy==0.12.7
lmfit==0.8.3
matplotlib==2.0.0
numba==0.30.1+0.g8c1033f.dirty
numbapro==0.19.0
numexpr==2.6.1
numpy==1.11.3
Pillow==4.0.0
scipy==0.18.1
