cycler>=0.10.0
filemagic>=1.6
h5py>=2.7.0
llvmlite>=0.18.0
lmfit>=0.9.7
matplotlib>=2.0
npTDMS>=0.11
numba>=0.33.0
numexpr>=2.6
numpy>=1.13
Pillow>=4.0
scikit-image>=0.13.0
scipy>=1.0.0
seaborn>=0.7
tabulate>=0.8
imreg_dft>=2.0
multiprocess>=0.70
dill>=0.2.8